body {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(lightgrey);
    padding: 20px;
}
header {
    display: flex;
    border-style: dashed;
    align-items:center;
    background: beige;
    padding-inline: 20px;
    border-radius: 20px;
}
.perfil-img {
    margin-right: 20px;  /* Espaço entre a imagem e o texto */
    margin-left: 10px;
    width: 80px;  /* Largura da imagem */
    height: 80px;  /* Altura da imagem */
    border-radius: 50%;  /* Faz a imagem ficar circular, se for quadrada */
    padding: 10px;
}
.header-texto {
    text-align:left; 
    color: black;
}
.redes-sociais {
    padding-left: 700px;
    display: flex;
    gap: 20px;  /* Espaço entre os ícones */
}

.redes-sociais a img {
    width: 30px;  /* Tamanho dos ícones */
    height: 30px; 
    border-radius: 50%;
    transition: transform 0.3s;  /* Adiciona uma transição suave para hover */
}

.redes-sociais a img:hover {
    transform: scale(1.2);  /* Aumenta o tamanho dos ícones quando passamos o mouse */
}

.quem-sou {
    display: flex;
    flex-wrap: wrap;  /* Permite que as divs se movam para a linha abaixo se não houver espaço suficiente */
    gap: 20px;  /* Espaço entre as divs */
    margin-top: 20px;
}

.item {
    flex: 1 1 calc(25% - 20px);  /* Ajusta a largura das divs para 25% menos o espaço entre elas */
    padding: 20px;
    background: beige;
    border-radius: 20px;
    border-style: dotted;
    box-sizing: border-box;  /* Inclui padding e borda na largura total */
    text-align: justify;
}

.onde-trabalhei {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  /* Permite que as divs se movam para a linha abaixo se não houver espaço suficiente */
    gap: 20px;  /* Espaço entre as divs */
    margin-top: 20px
}

.item2 {
    padding: 20px;
    background: beige;
    border-radius: 20px;
    border-style: dotted;
    box-sizing: border-box;  /* Inclui padding e borda na largura total */
    text-align: justify;
}